/* base.scss (START) */

@import '../config';

body, html {
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: .5px;
	margin: 0;
	box-sizing: border-box;
}

* {
  &:before,
  &:after {
  	box-sizing: inherit;
  }
}

h1 {font-size: 6rem;}
h2 {font-size: 5rem;}
h3 {font-size: 4rem;}
h4 {font-size: 3rem;}
h5 {font-size: 2rem; font-weight: bold;}
h6 {font-size: 1rem; font-weight: bold;}

h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
	font-weight: normal;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

img {
	height: auto;
  	max-width: 100%;
	vertical-align: top;
	box-sizing: border-box;
}

div {vertical-align: top;}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0
}

// :focus {
// 	outline: 1px solid transparent;
// }

a:link,
a:visited,
a:active {

	transition: $t;
	line-height: 1em;

	&:hover {
	}

	&:focus {
		outline: 1px transparent;
		outline-color: transparent;
		outline-style: none;
	}
}

/* base.scss (END) */