/* forms.scss (START) */

@import '../config';

input,
textarea,
select {
	border: 0;
	width: auto;
	box-sizing: border-box;

	resize: none;
	transition: $t;
	outline: none;

	// appearance: none;

	&:focus {
		// outline: 1px solid transparent;
		// border: 1px solid transparent;
	}

	&[placeholder] {}

	&[disabled] {
		resize: none;
		opacity: .5;
		cursor: default;
	}
}

label {
	cursor: pointer;
}

input[type="radio"] {}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {

	width: auto;
	// outline: 1px transparent;
	box-sizing: border-box;
	transition: $t;

	// appearance: none;

}

input, textarea {

	&:required {
		border: 1px solid #fff;
	}

	&:focus {

		&:required {

			&:valid {
				border: 1px solid #5acb5a;
				transition: .3s;
			}

			&:invalid {
				border: 1px solid #cb5a5a;
				transition: $t;
			}

		}

	}

}

select,
option {
	width: auto;
	transition: $t;
}


/* forms.scss (END) */