/* typography.scss (START) */
 
/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../css/fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../css/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../css/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../css/fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../css/fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../css/fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../css/fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../css/fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("../css/fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../css/fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../css/fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../css/fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../css/fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../css/fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("../css/fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../css/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../css/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("../css/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../css/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../css/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("../css/fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../css/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../css/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("../css/fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../css/fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../css/fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../css/fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../css/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../css/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../css/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("../css/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

 

/* typography.scss (END) */
