append config
	- jquery = true
	- slick = true
	- featherlight = true
	- equalheight = true
	- tabs = true

extends template/template.jade

block title
	| Naviport. Личный кабинет агента

block content

	#index

	section.header
		.container
			.row
				.s6.col
					.logotype
						.logotype__link
							img.logotype__image(src="img/logotype.png", width="", height="", title="", alt="")
						.logotype__title
							| Информационный портал <br />о тахографии и навигации
				.s6.col
					.callback
						a.callback__link.btn.btn__empty.btn__empty--calback(href='#index', data-featherlight="#callbackform") Заказать звонок
					.contacts
						.contacts__phone 8-800-500-43-69
						a.contacts__email(href='mailto:agent@naviportal.ru') agent@naviportal.ru
	section.welcome
		.container
			.row
				.s6.col
					h1.welcome__title Дополнительный заработок в сфере перевозок
					p.welcome__text <b>Станьте агентом</b> по привлечению <br />клиентов для установки и обслуживания <br />тахографов и зарабатывайте:
					.price
						ul.price__list
							li.price__item
								span.price__list_price <b>От 4000 <span class="rouble">₽</span>&nbsp;</b>
								span.price__list_title c одной установки тахографа
							li.price__item
								span.price__list_price <b>От 500 <span class="rouble">₽</span>&nbsp;</b>
								span.price__list_title c одной установки тахографа
							li.price__item
								span.price__list_price <b>От 300 <span class="rouble">₽</span>&nbsp;</b>
								span.price__list_title с одной карты водителя
				.s6.col
					.welcome__form
						.login
							form.login__form(id="", method="", action="")
								.login__header Войти в личный кабинет
								.login__content
									.login__item
										label.login__label(for="email") Эл. почта
										input.login__field(name="email", id="email", type="mail", placeholder="", required)
									.login__item
										label.login__label(for="pass") Пароль
										input.login__field(name="pass", id="pass", type="password", required)
									.login__item
										label.login__label(for="submit__login") &nbsp;
										input.login__submit(name="submit", id="submit__login", type="submit", value="Войти  ↩")
										//- a.login__remind(href="#") Забыли пароль?
							.login__addition
								a.login__btn.btn.btn__full.btn__full--orange(href="#", data-featherlight="#regform") Стать агентом
								a.btn.btn__empty.btn__empty--download(href="#", data-featherlight="#succsesform") Скачать коммерческое <br />предложение
	section.weare
		.container
			.row
				.s5.col
					img.weare__map(src="img/weare__image.jpg", width="", height="", title="", alt="")
				.s7.col
					.weare__text <span class="black"><b>NAVIPORT</b> &mdash; единая сеть внесенных в <a href="#">реестр</a> мастерских</span> по установке и обслуживанию тахографов, имеющих все необходимые лицензии и сертификаты, репутацию добросовестных поставщиков услуг на рынке тахографии

	section.garantie
		.container
			h2.garantie__title Мы гарантируем
			.garantie__slider
				img.garantie__slider_image.to-slide--n1.active(src="img/garantie__slide--n1.png", width="505", height="315", title="", alt="")
				img.garantie__slider_image.to-slide--n2(src="img/garantie__slide--n2.png", width="505", height="315", title="", alt="")
				img.garantie__slider_image.to-slide--n3(src="img/garantie__slide--n3.png", width="505", height="315", title="", alt="")
				img.garantie__slider_image.to-slide--n4(src="img/garantie__slide--n4.png", width="505", height="315", title="", alt="")
			.garantie-list.row
				.s6.col.n1.active(to-slide="1")
					.garantie-list__item
						.garantie-list__num 1
						.garantie-list__text <b>Качественное</b> выполнение всех <br />видов работ
				.s6.col.n2(to-slide="2")
					.garantie-list__item
						.garantie-list__num 2
						.garantie-list__text <b>Самостоятельный контроль </b>выполнения заказа
				.s6.col.n3(to-slide="3")
					.garantie-list__item
						.garantie-list__num 3
						.garantie-list__text <b>Прозрачность цен</b> и быстрое получение агентского вознаграждения
				.s6.col.n4(to-slide="4")
					.garantie-list__item
						.garantie-list__num 4
						.garantie-list__text <b>Бесплатное обучение</b> по теме «Российская Тахография от А до Я»

	section.agents
		h2.agents__title Кто наши агенты?
		.container
			.agents__list
				.agents__item
					img.agents__icon(src="img/icon__agents--n1.png", width="63", height="63", title="", alt="")
					.agents__text Интеграторы систем <br />мониторинга транспорта
				.agents__item
					img.agents__icon(src="img/icon__agents--n2.png", width="63", height="63", title="", alt="")
					.agents__text Дилеры грузовой техники <br />и автобусов
				.agents__item
					img.agents__icon(src="img/icon__agents--n3.png", width="63", height="63", title="", alt="")
					.agents__text Поставщики запчастей <br />для автомобилей
				.agents__item
					img.agents__icon(src="img/icon__agents--n4.png", width="63", height="63", title="", alt="")
					.agents__text Транспортные компании, привлекающие наемный транспорт
				.agents__item
					img.agents__icon(src="img/icon__agents--n5.png", width="63", height="63", title="", alt="")
					.agents__text Компании, предоставляющие услуги страхования, ТО, топливных карт, пропусков на МКАД и ТТК
				.agents__item
					img.agents__icon(src="img/icon__agents--n6.png", width="63", height="63", title="", alt="")
					.agents__text Водители, диспетчеры <br />и т. д.

	section.feedback
		.container
			h2.feedback__title Отзывы наших агентов
			.feedback__list

						.feedback__list-b
							.feedback__list-b__header
								img.feedback__list-b__avatar(src="img/avatar--n1.png", width="60", height="60", title="", alt="")
								.feedback__list-b__title Р.В. Нагаткин , ген. директор ООО «Сервис Форт-Телеком»
								.feedback__list-b__cat Сфера: <span class="hlt--blue">мониторинг транспорта</span>
							.feedback__list-b__content
								.feedback__list-b__text
									| Вашу компанию выбрал абсолютно случайно, но после первого общения с Оксаной Беспаловой, понял, что это та самая компания, которую я для себя искал в качестве партнера для развития бизнеса по установке и обслуживанию тахографов.

						.feedback__list-b
							.feedback__list-b__header
								img.feedback__list-b__avatar(src="img/avatar--n2.png", width="60", height="60", title="", alt="")
								.feedback__list-b__title Питерских Ольга, «ТТМ-центр»
								.feedback__list-b__cat Сфера: <span class="hlt--blue">установка тахографов</span>
							.feedback__list-b__content
								.feedback__list-b__text
									| С компанией «ТАХОБАНК» работать надежно, быстро и приятно. Все заказы обрабатываются очень быстро. Любые срочные вопросы так же решаются моментально. <br /><br />Прозрачность отношений с агентом на высоте. Установщики-настройщики профессиональны. Всегда пунктуальны и вежливы».

						.feedback__list-b
							.feedback__list-b__header
								img.feedback__list-b__avatar(src="img/avatar--n3.png", width="60", height="60", title="", alt="")
								.feedback__list-b__title Максим Крупий, «Глобал Карт»
								.feedback__list-b__cat Сфера: <span class="hlt--blue">топливные карты, мониторинг</span>
							.feedback__list-b__content
								.feedback__list-b__text
									| Мы довольны сотрудничеством с компанией «ТАХОБАНК», благодарим за добросовестное отношение и взаимопонимание, за хорошие контакты между нашими фирмами. Мы работаем вместе уже больше года и готовы к новым этапам развития с компанией «ТАХОБАНК».

						.feedback__list-b
							.feedback__list-b__header
								img.feedback__list-b__avatar(src="img/avatar--n4.png", width="60", height="60", title="", alt="")
								.feedback__list-b__title Думлер Игорь, ГК «Альянс Тракс»
								.feedback__list-b__cat Сфера: <span class="hlt--blue">дилер МАЗ, Hino, КАМАЗ, ISUZU</span>
							.feedback__list-b__content
								.feedback__list-b__text
									| «Выбрали компанию «ТАХОБАНК», потому что предложили хорошие цены и нормальные условия, Работаем уже больше года»

						.feedback__list-b
							.feedback__list-b__header
								img.feedback__list-b__avatar(src="img/avatar--n5.png", width="60", height="60", title="", alt="")
								.feedback__list-b__title Кирилл Комаров, ООО «ТЭКС»
								.feedback__list-b__cat Сфера: <span class="hlt--blue">мониторинг транспорта</span>
							.feedback__list-b__content
								.feedback__list-b__text
									| «Продолжаем работать с компанией «ТАХОБАНК» из-за оперативности менеджеров, отсутствия нареканий от наших клиентов на установщиков Тахобанка, за время сотрудничества сложились хорошие взаимоотношения, нравится то, что все заявки от клиентов на установку тахографа изготовление карт водителей обрабатываются оперативно».

	section.questions
		.container
			img.questions__icon(src="img/icon__questions.jpg", width="62", height="62", title="", alt="")

			h2.questions__title Вопросы агентов
			.row
				.s12.col
					dl.accordion
						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 1
									p Кто может быть агентом?
							dd.accordion__content
								| Агентом может быт любой желающий, имеющий в своем окружении потенциальных покупателей услуги по установке и обслуживанию тахографов
						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 2
									p Почему клиент должен установить тахограф? Нормативная база
							dd.accordion__content
								p Нормативная база.
								p В соответствии с требованиями ряда нормативно-правовых документов в Российской федерации существуют обязательства у юридических лиц и индивидуальных предпринимателей, осуществляющих коммерческие перевозки, оснащать свои транспортные средства тахографами.
								p В соответствии с требованиями Приказа Минтранса № 36 от 13.02.2013г. Перевозчики, осуществляющие перевозки внутри страны, обязаны устанавливать тахографы с блоком СКЗИ, если перевозки осуществляются в страны ЕС, то на данный вид транспорта распространяются требования Европейского Соглашения (ЕСТР), которые действуют в России уже более 15 лет.
								p В соответствии с требованиями Приказа Минтранса № 273 от 21 августа 2013 г. определен Порядок оснащения транспортных средств тахографами:
								ul
									li До 1 апреля 2014 г. &mdash; грузовые автомобили, перевозящие опасные грузы
									li До 1 июля 2014 г. &mdash; автобусы и грузовики с максимальной массой более 15 тонн
									li До 1 сентября 2014 г. &mdash; грузовики с максимально разрешенной массой от 12 тонн
									li До 1 апреля 2015 г. &mdash; все грузовики с максимальной массой от 3,5 до 12 тонн
									li До 1 января 2018 г. &mdash; все транспортные средства категории N2, N3, M2 и M3 уже оснащенные тахографами организациями-изготовителями ТС, либо оборудованные тахографами, установленные сервисными мастерскими до 1 апреля 2014 г.
								p ВНИМАНИЕ!
								p 16 декабря 2015  года вступил в силу Приказ Минтранса РФ № 348 «О внесении изменений в Порядок оснащения транспортных средств тахографами, утвержденный приказом Минтранса РФ от 21 августа 2013 года № 273», согласно которому аналоговые тахографы, установленные заводами –  изготовителями ТС и сервисными мастерскими до 1 апреля 2014 года- легитимны до 1 июля 2016 года. Соответственно на такие ТС необходимо устанавливать тахографы с блоком СКЗИ.
								p Какие автомобили не должны оснащаться тахографами с блоком СКЗИ?
								ul
									li осуществляющие международные перевозки, так как на них распространяются требования ЕСТР.
									li регулярные городские и пригородные пассажирские перевозки, троллейбусы
									li строительная спецтехника:автобетононасосы, автокраны, илососы, краны-манипулаторы и др.
									li спецтранпорт скорой медицинской помощи, коммунального хозяйства,МЧС, МВД, ФСБ и др.
									li автоэвакуаторы
									li самоходный транспорт
									li транспорт, с года выпуска которых прошло30 и более лет.
								p Исключение предусмотрено, если в паспорте ТС указана одна из вышеперечисленных категорий.

						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 3
									p Что будет, если клиент не установит тахограф? Каковы штрафы?
							dd.accordion__content
								p В соответствии с КоАП статья 11.23 за управление транспортом без тахографа
								ul
									li водителю грозит штраф от 1000 до 3000 рублей
									li должностному лицу- от 5000 до 10000 рублей
								p Проверку наличия тахографа осуществляют сотрудники ГИБДД,
								p Также при получении лицензий на перевозку детей (школьные автобусы), ДОПОГ- также требуется наличие тахографа

						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 4
									p Какое идеальное предложение для клиента? Что он хочет видеть в предложении?
							dd.accordion__content
								|  Мы предлагаем индивидуальное решение под каждого клиента. Мы можем предложить оптимальное решение цена/качество, можем предложить тахограф, проверенный временем, имеющий самые высокие показатели по качеству и самый низкий процент брака. Также мы можем решить проблему клиента не только в части тахографов, но и предложить инструменты по повышению эффективности его работы в целом. При этом мы прозрачны в своих действиях, так как мы одна из немногих компаний на рынке, которая может смело присвоить себе статус эксперта в тахографии, так как в нашей копилке огромная база знаний, опыт, рекомендации наших клиентов. Мы помогаем решить проблемы не только своих клиентов, которые покупают у нас услуги, но и всем, кто нуждается в консультации по вопросам тахографов. Ценовая политика нашей компания соответствует рынку, мы - сеть официальных сервисных мастерских, которая гарантирует качественное выполнение работ и несет ответственность за все работы и предоставленные услуги.

						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 5
									p Что клиент считает самым важным в решении проблемы?
							dd.accordion__content
								p Установка тахографа позволяет клиенту не иметь штрафы за его отсутствие, помогает контролировать своих сотрудников на основании данных, которые выдает тахограф: реальный пробег автомобиля, превышение скорости, стиль вождения, нарушение режима труда и отдыха водителя и другие параметры.

						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 6
									p Если клиент готов к покупке, что ему мешает заказать у нас?
							dd.accordion__content
								p Ничего не мешает, так как мы достаточно оперативно выполняем работы, сокращая сроки получения штрафов клиентом. Мы всегда идем навстречу, готовы выполнить работы в в выходные дни и на выезде

						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 7
									p Какие способы оплаты принимаются?
							dd.accordion__content
								p Способ оплаты: наличный или безналичный расчет.

						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 8
									p В чем преимущества вашего товара и услуги?
							dd.accordion__content
								p Мы не продаем несертифицированное и незаконное оборудование. Мы гарантируем честность в сотрудничестве. Мы можем объяснить все преимущества и недостатки оборудования, которое представлено на рынке, предостеречь клиента от дальнейших проблем с тахографами. Все работы выполняются качественно, существует собственная система контроля качества в компании. Гарантии на наши работы – 12 месяцев.

						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 9
									p Кому нужен тахограф?
							dd.accordion__content
								p Тахограф устанавливается на транспорт, который что-то перевозит. Соответственно все сферы деятельности так или иначе используют логистику, тем самым приобретая собственный транспорт или наемный. Поэтому можно сказать, что тахограф нуден всем, кто что-то перевозит  и попадает пот требования Законодательства РФ в части тахографии

						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 10
									p На какие тахографы делать упор?
							dd.accordion__content
								p Наша компания остановила выбор на трех тахографах и рекомендует:
								ul
									li Continental VDO 3283
									li ШТРИХ-ТахоRUS
									li АтолDRIVE
						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 11
									p Есть ли список вопросов для агента, которые надо задать клиенту во время телефонного звонка?
							dd.accordion__content
								p  Да, есть специальный скрипт, который выдается агенту после регистрации на нашем сайте и присвоения статуса «агента». Мы проводим бесплатное обучение по теме «Российская тахография от А до Я»
						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 12
									p На какие машины и транспортные средства устанавливается тахограф?
							dd.accordion__content
								p Под требования по оснащению тахографами для внутренних российских перевозок подпадают юридические лица и индивидуальные предприниматели, которые на любом законном основании владеют транспортными средствами. Это могут быть права собственности, права аренды или договора подряда. Оснащение предусмотрено для транспортных средств более 3,5 тонн, либо имеющих более 9 посадочных мест, включая водителя.

						.accordion__item
							dt
								a.accordion__title(href="#")
									span.accordion__num 13
									p Какие риски возможны при установке тахографа?
							dd.accordion__content
								p Самый основной риск-это неработоспособность тахографа, при которой сотрудник ГИБДД имеет право оштрафовать водителя. В таких случаях необходимо немедленно обращаться к нам для выявления и устранения неисправности. 

			.questions__addition
				.questions__addition__title Остались <br />вопросы?
				.questions__addition__content
					.questions__addition__phone 8-800-500-43-69
					.questions__addition__text Звоните, проконсультируем по всем вопросам!

			.feedback__start
				.feedback__addition Начните зарабатывать уже сегодня!
				a.btn.btn__full.btn__full--orange.feedback__btn(href="#") Хочу стать агентом!

	section.footer
		.container
			.row
				.s4.col
					.copyrights
						.copyrights__name © 2016 «Naviport»
						.copyrights__title Информационный портал <br />о российской тахографии
						a.copyrights__link(href="#") Перейти на портал
				.s4.col
					.service
						.service__title Клиентская служба
						.service__text agent@naviportal.ru
				.s4.col
					.footer__wrap
						.contacts
							.contacts__phone 8-800-500-43-69
						.callback
							a.callback__link.btn.btn__empty.btn__empty--calback(href='#index', data-featherlight="#callbackform") Заказать звонок
	#callbackform
		.callbackform
			.callbackform__header
				.callbackform__title Заказать звонок
			.callbackform__content
				.callbackform__item
						input.callbackform__field(name="name3", id="name3", type="name", placeholder="Ваше имя", required)
					.callbackform__item
						input.callbackform__field(name="tel3", id="tel3", type="tel", placeholder="Телефон", required)
					.callbackform__item
						input.callbackform__submit(name="submit", id="submit__login", type="submit", value="Перезвоните мне")

	#succsesform
		.succsesform
			.succsesform__header
				.succsesform__title Регистрация агента
			.succsesform__content
				.succsesform__success Вы успешно зарегистрировались!
				.succsesform__text Совсем скоро наш менеджер свяжется с вами и предоставит вам доступ в ваш личный кабинет.

	#regform
		.regform
			.regform__header
				.regform__title Регистрация агента
				.regform__tabs
					.regform__tab.regform__tab--tab1.active Физ. лицо
					.regform__tab.regform__tab--tab2.regform__tab Организация

			.regform__content.regform__content--tab1.active
					form.regform__form(id="", method="", action="")
						.regform__item
							label.regform__label(for="fname") Фамилия
							input.regform__field(name="fname", id="fname", type="text", placeholder="", required)
						.regform__item
							label.regform__label(for="sname") Имя
							input.regform__field(name="sname", id="sname", type="text", placeholder="", required)
						.regform__item
							label.regform__label(for="tname") Отчество
							input.regform__field(name="tname", id="tname", type="text", placeholder="", required)
						.regform__item
							label.regform__label(for="email") Эл. Почта
							input.regform__field.invalid(name="email", id="email", type="email", placeholder="", required)
							span.message__error Введите адрес алектронной почты
						.regform__item
							label.regform__label(for="phone") Телефон
							input.regform__field(name="phone", id="phone", type="tel", placeholder="", required)
						.regform__bottom
							.regform__addition ИНН и банковские реквизиты для вывода средств можно будет заполнить позднее в личном кабинете.
							.regform__footer
								.regform__btn
									input.btn.btn__full.btn__full--blue(type="submit", value="Зарегистрироваться")
								.regform__confirm
									| Регистрируясь вы <br />соглашаетесь на обработку <br />персональных данных

			.regform__content.regform__content--tab2
					form.regform__form(id="", method="", action="")
						.regform__item
							label.regform__label(for="cname") Название
							input.regform__field(name="cname", id="сname", type="text", placeholder="", required)
						.regform__item
							label.regform__label(for="cnname") ФИО
							input.regform__field(name="cname", id="cname", type="text", placeholder="", required)
						.regform__item
							label.regform__label(for="email2") Эл. Почта
							input.regform__field(name="email2", id="email2", type="email", placeholder="", required)
						.regform__item
							label.regform__label(for="phone2") Телефон
							input.regform__field(name="phone2", id="phone2", type="tel", placeholder="", required)
						.regform__bottom
							.regform__addition ИНН и банковские реквизиты для вывода средств можно будет заполнить позднее в личном кабинете.
							.regform__footer
								.regform__btn
									input.btn.btn__full.btn__full--blue(type="submit", value="Зарегистрироваться")
								.regform__confirm
									| Регистрируясь вы <br />соглашаетесь на обработку <br />персональных данных


	script.
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
				w.yaCounter35193935 = new Ya.Metrika({
					id:35193935,
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true,
					webvisor:true
						});
				} catch(e) { }
				});

			var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
				})(document, window, "yandex_metrika_callbacks");

	| <noscript><div><img src="https://mc.yandex.ru/watch/35193935" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
