append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Main

block content

	//- +breadcrumbs('Главная', 'Подраздел', 'Новость')

	//- +blocks('1', 'Hi',' there')

	section
		| Hello, I'm index.html