/* footer.scss (START) */
/* footer.scss (END) */

/* header.scss (START) */
/* header.scss (END) */

/* layout.scss (START) */
.container {
	position: relative;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.row {
	letter-spacing: -.31em;

	*letter-spacing: normal;
	*word-spacing: -.43em;
}

.col {
	display: inline-block;

	width: 100%;

	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;

	*display: inline;
}

.s1.col {
	width: 8.33333333%;
}

.s2.col {
	width: 16.66666667%;
}

.s3.col {
	width: 25%;
}

.s4.col {
	width: 33.33333333%;
}

.s5.col {
	width: 41.66666667%;
}

.s6.col {
	width: 50.00%;
}

.s7.col {
	width: 58.33333333%;
}

.s8.col {
	width: 66.66666667%;
}

.s9.col {
	width: 75.0%;
}

.s10.col {
	width: 83.33333333%;
}

.s11.col {
	width: 91.66666667%;
}

.s12.col {
	width: 100%;
}

.off1.col {
	margin-left: 8.33333333%;
}

.off2.col {
	margin-left: 16.66666667%;
}

.off3.col {
	margin-left: 25%;
}

.off4.col {
	margin-left: 33.33333333%;
}

.off5.col {
	margin-left: 41.66666667%;
}

.off6.col {
	margin-left: 50.00%;
}

.off7.col {
	margin-left: 58.33333333%;
}

.off8.col {
	margin-left: 66.66666667%;
}

.off9.col {
	margin-left: 75.0%;
}

.off10.col {
	margin-left: 83.33333333%;
}

.off11.col {
	margin-left: 91.66666667%;
}

.off12.col {
	margin-left: 100%;
}

.container:after,
.row:after {
	display: table;
	clear: both; 

	content: "";
}

/* layout.scss (END) */

/* sidebar.scss (START) */
/* sidebar.scss (END) */
