/* index.scss (START) */
h2 {
	margin: 0;
}

.btn {
	display: inline-block;
}
.btn__empty {
	font-family: "OpenSansSemiBold";
	font-size: 1.5rem;
}
.btn__empty--calback {
	padding: 15px 14px; 

	background: url("../img/callback__bg.png");
	background-repeat: no-repeat;
}
.btn__empty--download {
	font-family: "OpenSansRegular";
	font-size: 1.8rem;
	line-height: 2.8rem;

	margin-left: 7px; 
	padding: 15px 15px;

	text-align: left;
	text-decoration: none;

	color: #fff;
	background: url("../img/download__bg.png");
	background-repeat: no-repeat;
}
.btn__empty--download:before {
	position: relative;

	float: left;

	margin-right: 12px;

	content: url("../img/download__icon.png");
	-webkit-animation-name: rotation;
	        animation-name: rotation;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out; 
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes rotation {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-5px);
		        transform: translateY(-5px);
	}
	60% {
		-webkit-transform: translateY(-2px);
		        transform: translateY(-2px);
	}
}

@keyframes rotation {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-5px);
		        transform: translateY(-5px);
	}
	60% {
		-webkit-transform: translateY(-2px);
		        transform: translateY(-2px);
	}
}
.btn__empty--download:hover {
	color: #d8d8d8;
}
.btn__full {
	padding: 15px 14px;

	text-decoration: none; 

	-webkit-border-radius: 3px;
	        border-radius: 3px;
	background: #f2401d;
}
.btn__full:hover {
	background: #ce3113;
}
.btn__full--blue {
	color: #fff; 
	background: #06b;
}
.btn__full--blue:hover {
	background: #047de2;
}

.rouble {
	font-family: "Roboto", sans-serif;
}

b {
	font-family: "OpenSansBold";
}

.header {
	padding: 25px 0;
}
.header .logotype__link {
	float: left;

	margin-top: 8px; 
	padding-right: 25px;
}
.header .logotype__title {
	font-family: "OpenSansRegular";
	font-size: 1.7rem;
	line-height: 2.2rem;

	overflow: hidden; 

	padding-left: 20px;

	letter-spacing: -.5px;

	border-left: 1px solid #e0e7eb;
}
.header .callback {
	display: inline-block;

	margin-left: 33px;
}
.header .callback__link {
	display: block; 

	text-decoration: none;

	color: #06b;
}
.header .callback__link:hover {
	color: #f2401d;
}
.header .contacts {
	position: relative;
	top: -1px; 

	display: inline-block;

	margin-left: 30px;
}
.header .contacts__phone {
	font-family: "OpenSansBold";
	font-size: 2.4rem;

	display: block;

	margin-bottom: 5px;

	text-decoration: none;
	letter-spacing: 1px; 

	color: #000;
}
.header .contacts__email {
	font-family: "OpenSansRegular";
	font-size: 1.6rem;

	display: block;

	text-decoration: none; 

	color: #000;
}
.header .contacts__email:hover {
	color: #f2401d;
}

.welcome {
	padding: 40px 0;

	color: #fff; 
	background: url("../img/welcome__bg.jpg");
	background-repeat: none;
	background-size: cover;
}
.welcome__title {
	font-family: "OpenSansLight";
	font-size: 4.5rem;
	line-height: 5rem;

	margin-bottom: 40px; 

	letter-spacing: -1.5px;
}
.welcome__text {
	font-family: "OpenSansLight";
	font-size: 2.2rem;
	line-height: 3rem;

	margin-bottom: 40px; 

	letter-spacing: 0;
}
.welcome .price {
	padding-top: 10px;
}
.welcome .price__item {
	margin-bottom: 25px;
}
.welcome .price__list {
	font-family: "OpenSansRegular";
	font-size: 1.8rem;

	color: #fff;
}
.welcome .price__list_price {
	font-size: 2.2rem;

	color: #28c0ff;
}
.welcome__form {
	margin-top: 10px;
	margin-left: 32px;
}
.welcome__form .login {
	width: 380px;
}
.welcome__form .login__form {
	-webkit-border-radius: 4px;
	        border-radius: 4px; 
	background: #fff;
}
.welcome__form .login__header {
	font-family: "OpenSansLight";
	font-size: 2.6rem;

	padding: 20px;

	letter-spacing: 0;

	color: #000;
}
.welcome__form .login__content {
	padding: 20px 15px 1px 25px;

	-webkit-border-radius: 4px;
	        border-radius: 4px; 
	background: #e9eff2;
}
.welcome__form .login__item {
	margin-bottom: 20px;
}
.welcome__form .login__label {
	font-size: 1.6rem;
	line-height: 50px; 

	float: left;

	width: 95px;

	color: #005082;
}
.welcome__form .login__field {
	overflow: hidden;

	width: 235px;
	height: 50px;
	padding: 0 15px; 

	color: #000;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	background: #fff;
}
.welcome__form .login__submit {
	font-family: "OpenSansLight";
	font-size: 1.6rem; 

	height: 45px;
	padding: 0 15px;

	color: #fff;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	background: #06b;
}
.welcome__form .login__submit:hover {
	background: #047de2;
}
.welcome__form .login__remind {
	font-size: 1.4rem;

	margin-left: 27px; 

	text-decoration: none;

	color: #3b4448;
}
.welcome__form .login__btn {
	font-family: "OpenSansBold";
	font-size: 2rem;
	line-height: 1em;

	display: inline-block;

	margin-bottom: 15px; 
	padding: 23px 60px 21px 60px;

	text-decoration: none;
	text-transform: uppercase;

	color: #fff;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}
.welcome__form .login__addition {
	margin-top: 25px;

	text-align: center;
}

.weare {
	padding: 55px 0 75px 0;
}
.weare__text {
	font-family: "OpenSansRegular";
	font-size: 1.8rem;
	line-height: 3rem;

	position: relative;
	left: -10px;

	width: 85%;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px; 
	padding-left: 40px;

	color: #3a4b54;
	border-left: 1px solid #e0e7eb;
}
.weare__text a {
	font-family: "OpenSansBold"; 

	color: #06b;
}
.weare__text a:hover {
	text-decoration: none;

	color: #ce3113;
}

.garantie {
	padding: 50px 0;

	background: #d8dee1;
}
.garantie .container {
	padding-left: 25px !important;
}
.garantie__title {
	font-family: "OpenSansLight";
	font-size: 4.2rem;
	line-height: 5rem;

	text-align: center; 

	color: #000;
}
.garantie__slider {
	position: relative; 

	width: 100%;
	height: 500px;

	text-align: center;

	background: url("../img/garantie__image.jpg");
	background-repeat: no-repeat;
	background-position: 55% 50%;
}
.garantie__slider_image {
	position: absolute;
	top: 66px;
	right: 0;
	left: 0;

	margin: auto;

	-webkit-transition: .3s;
	        transition: .3s; 

	opacity: 0;
}
.garantie__slider_image.active {
	opacity: 1;
}
.garantie__image {
	display: inline-block;

	margin: 0 auto;
}
.garantie-list .s6.active .garantie-list__item {
	color: #fff; 
	border: 2px solid #f2401d;
	background: #f2401d;
}
.garantie-list .s6.active .garantie-list__item .garantie-list__num {
	color: #fff;
}
.garantie-list__item {
	margin-right: 25px;
	margin-bottom: 20px;
	padding: 25px 30px 25px 20px;

	cursor: pointer; 
	-webkit-transition: .3s;
	        transition: .3s;

	border: 2px solid #fff;
	border: 2px solid #cbd5da;
	background: #fff;
}
.garantie-list__item:hover {
	border: 2px solid #f2401d;
}
.garantie-list__num {
	font-family: "OpenSansLight";
	font-size: 4.2rem;
	line-height: 40px;

	float: left;

	margin-right: 15px; 

	color: #cbd5da;
}
.garantie-list__text {
	font-size: 1.8rem;
	line-height: 2.6rem; 

	overflow: hidden;
}

.agents {
	padding: 50px 0 10px 0;

	color: #fff; 
	background: url("../img/agents__bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.agents__title {
	font-family: "OpenSansBold";
	font-size: 4.2rem;
	line-height: 5rem;

	margin-bottom: 50px; 

	text-align: center;
	letter-spacing: 0;

	color: #fff;
}
.agents__list {
	padding-left: 35px; 

	*zoom: 1;
}
.agents__list:before,
.agents__list:after {
	display: table; 

	content: "";
}
.agents__list:after {
	clear: both;
}
.agents__item {
	float: left;

	width: 50%;
	margin-bottom: 50px;
}
.agents__icon {
	position: relative;
	top: -5px; 

	float: left;

	margin-right: 20px;
}
.agents__text {
	font-family: "OpenSansRegular";
	font-size: 1.8rem;
	line-height: 2.6rem;

	overflow: hidden; 

	width: 75%;
}

.slick-list {
	margin: 0 55px !important;
}

.slick-arrow {
	font-size: 0;

	position: absolute;
	z-index: 1000;
	top: 50%;

	width: 34px;
	height: 30px;
	margin: auto;

	-webkit-transition: .3s;
	        transition: .3s;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);

	border: 0;
	outline: 0; 
	background-repeat: no-repeat;
}

.slick-prev {
	left: 15px;

	background: url("../img/icon__prev--hover.png");
}
.slick-prev:hover {
	background: url("../img/icon__prev.png");
}

.slick-next {
	right: 15px;

	background: url("../img/icon__next--hover.png");
}
.slick-next:hover {
	background: url("../img/icon__next.png");
}

.feedback {
	overflow: hidden; 

	padding: 40px 0 90px 0;

	background: #e9eff2;
}
.feedback .container {
	padding-left: 0 !important;
}
.feedback__title {
	font-family: "OpenSansLight";
	font-size: 4.2rem;
	line-height: 5rem;

	margin-bottom: 40px; 

	text-align: center;
}
.feedback__list-b {
	margin-right: 20px;
	margin-left: 20px; 
	padding: 35px 35px;

	background: #fff;
}
.feedback__list-b__header {
	min-height: 62px; 
	margin-bottom: 25px;
}
.feedback__list-b__title {
	font-family: "OpenSansBold";
	font-size: 1.6rem;
	line-height: 1.8rem;

	margin-bottom: 10px; 

	color: #0b4a7d;
}
.feedback__list-b__cat {
	font-family: "OpenSansRegular";
	font-size: 1.4rem;

	overflow: hidden; 

	color: #979da0;
}
.feedback__list-b__cat .hlt--blue {
	color: #0b4a7d;
}
.feedback__list-b__avatar {
	float: left;

	margin-right: 25px;
}
.feedback__list-b__text {
	font-family: "OpenSansRegular";
	font-size: 1.6rem;
	line-height: 2.6rem;

	color: #000;
}
.feedback__start {
	padding: 50px 0; 

	text-align: center;
}
.feedback__addition {
	font-family: "OpenSansLight";
	font-size: 3.2rem;
	line-height: 5rem;

	margin-bottom: 15px;
}
.feedback__btn {
	font-family: "OpenSansBold";
	font-size: 2.2rem;
	line-height: 1em;

	display: inline-block; 

	padding: 20px 65px;

	color: #fff;
}

.questions {
	padding: 35px 0 60px 0;

	border-top: 4px solid #d8e1e8; 
	background: #e9eff2;
}
.questions .container {
	width: 762px; 
	padding-left: 0 !important;
}
.questions__icon {
	position: absolute;
	top: -70px;
	right: 0;
	left: 0;

	margin: auto;
}
.questions__title {
	font-family: "OpenSansBold";
	font-size: 4.2rem;
	line-height: 5rem;

	margin-bottom: 25px;

	text-align: center;
	letter-spacing: -1px;

	color: #000;
}
.questions__addition {
	overflow: hidden;

	margin-top: 45px;
	margin-bottom: 25px; 
	padding: 25px 0 25px 70px;

	border: 3px solid #cddae0;
}
.questions__addition__title {
	font-family: "OpenSansRegular";
	font-size: 3.2rem;
	line-height: 3.4rem;

	float: left; 

	color: #000;
}
.questions__addition__content {
	float: left; 

	margin-left: 65px;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 50px;

	border-left: 1px solid #cddae0;
}
.questions__addition__phone {
	font-family: "OpenSansBold";
	font-size: 3.2rem;

	color: #185698;
}
.questions__addition__text {
	font-size: 1.6rem;

	margin-top: 20px; 

	color: #7a7e81;
}
.questions .accordion {
	*zoom: 1;
}
.questions .accordion:before,
.questions .accordion:after {
	display: table; 

	content: "";
}
.questions .accordion:after {
	clear: both;
}
.questions .accordion .active {
	-webkit-transition: .3s;
	        transition: .3s;
}
.questions .accordion .active .accordion__title:after {
	content: url("../img/icons/icon__arrow--down--blue.png");
	-webkit-transition: .3s;
	        transition: .3s;
}
.questions .accordion__title {
	font-family: "OpenSansRegular";
	font-size: 1.8rem;
	line-height: 1em;
	line-height: 2.3rem;

	position: relative;

	display: block;

	padding: 16px 85px 15px 5px;

	-webkit-transition: .7s;
	        transition: .7s; 
	text-decoration: none;

	color: #000;
}
.questions .accordion__title:after {
	position: absolute;
	top: 50%;
	right: 30px; 

	margin: auto;

	content: url("../img/icons/icon__arrow--down--gray.png");
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.questions .accordion__title:hover:after {
	content: url("../img/icons/icon__arrow--down--blue.png");
}
.questions .accordion__item {
	margin-bottom: 12px;

	-webkit-transition: .3s;
	        transition: .3s; 

	background: #fff;
	-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
}
.questions .accordion__item:hover {
	-webkit-box-shadow: 0 0 7px 0 rgba(57, 90, 129, .6);
	        box-shadow: 0 0 7px 0 rgba(57, 90, 129, .6);
}
.questions .accordion__num {
	font-family: "OpenSansLight";
	font-size: 2.8rem;

	float: left;

	width: 64px;

	text-align: center;

	color: #b9babd;
}
.questions .accordion dd {
	font-family: "OpenSansRegular";
	font-size: 1.6rem;
	line-height: 2.4rem; 

	margin: 0;
	padding: 10px 80px 20px 70px;
}
.questions .accordion dd p {
	margin-bottom: 15px;
}
.questions .accordion dd ul {
	display: block;

	margin-left: 18px; 
	padding-bottom: 15px;

	list-style-position: outside;
	list-style-image: url("../img/icons/list__item.png");
}
.questions .accordion dd li {
	padding-left: 15px;
}
.questions .accordion p {
	overflow: hidden;

	margin: 0;
}

.footer {
	font-size: 1.6rem; 

	padding: 40px 0;
}
.footer .copyrights__name {
	font-family: "OpenSansBold";

	margin-bottom: 10px; 

	color: #000;
}
.footer .copyrights__title {
	font-family: "OpenSansRegular";

	margin-bottom: 15px;
	margin-left: 17px;
}
.footer .copyrights__link {
	font-family: "OpenSansBold";

	margin-left: 17px;

	text-decoration: none; 

	color: #06b;
}
.footer .copyrights__link:hover {
	color: #f2401d;
}
.footer .service {
	width: 80%;
	margin: 0 auto; 

	text-align: center;

	border: 2px solid #e1e8ec;
}
.footer .service__title {
	font-family: "OpenSansBold";
	font-size: 1.6rem;

	position: relative;
	top: -12px;

	display: inline-block;

	padding: 0 25px; 

	color: #9eacb3;
	background: #fff;
}
.footer .service__text {
	font-family: "OpenSansBold";
	font-size: 1.8rem; 

	display: block;

	margin-top: 15px;
	margin-bottom: 30px;

	text-decoration: none;

	color: #000;
}
.footer .contacts {
	display: inline-block;
}
.footer .contacts__phone {
	font-family: "OpenSansBold";
	font-size: 2.4rem;

	display: block; 

	text-decoration: none;

	color: #000;
}
.footer .callback {
	display: inline-block;

	margin-top: 15px;
	margin-right: 25px;
}
.footer .callback__link {
	display: block; 

	text-decoration: none;

	color: #06b;
}
.footer .callback__link:hover {
	color: #f2401d;
}
.footer__wrap {
	padding-right: 70px; 

	text-align: right;
}

/* popups */
.featherlight #regform {
	display: block;
}

#regform {
	display: none;
}
#regform .regform__header {
	padding-top: 5px; 

	text-align: center;
}
#regform .regform__title {
	font-family: "OpenSansLight";
	font-size: 3.2rem;
	line-height: 5rem;

	margin-top: 0;
	margin-bottom: 17px;

	color: #000;
}
#regform .regform__tabs {
	display: inline-block;

	margin: 0 auto; 
	margin-bottom: 10px;
}
#regform .regform__tab {
	font-family: "OpenSansRegular";
	font-size: 1.4rem;

	display: inline-block;

	padding: 10px 15px;

	cursor: pointer;
	-webkit-transition: .3s;
	        transition: .3s;
	letter-spacing: 0; 

	color: #6e8598;
	border: 2px solid #e4e9eb;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}
#regform .regform__tab:last-child {
	margin-left: -4px;

	border-left: 2px solid transparent; 
	-webkit-border-radius: 0 4px 4px 0;
	        border-radius: 0 4px 4px 0;
}
#regform .regform__tab:first-child {
	-webkit-border-radius: 4px 0 0 4px;
	        border-radius: 4px 0 0 4px;
}
#regform .regform__tab.active,
#regform .regform__tab:hover {
	z-index: 100; 

	color: #fff;
	border: 2px solid #06b;
	background: #06b;
}
#regform .regform__content {
	display: none;

	padding: 15px 25px 5px 25px;

	-webkit-transition: .3s;
	        transition: .3s;
}
#regform .regform__content.active {
	display: block;
}
#regform .regform__label {
	font-size: 1.6rem;
	line-height: 50px; 

	float: left;

	width: 100px;

	letter-spacing: -.5px;

	color: #005082;
}
#regform .regform__field {
	font-family: "OpenSansRegular"; 
	font-size: 1.5rem;

	overflow: hidden;

	width: 335px;
	height: 45px;
	padding: 0 15px;

	color: #343536;
	border: 1px solid #d4dade;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	background: #fff;
}
#regform .regform__field:focus {
	border: 1px solid #06b;
}
#regform .regform__item {
	margin-bottom: 10px;
}
#regform .regform__submit {
	font-family: "OpenSansLight";
	font-size: 1.6rem; 

	height: 45px;
	padding: 0 15px;

	color: #fff;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	background: #06b;
}
#regform .regform__submit:hover {
	background: #0059a3;
}
#regform .regform__addition {
	font-family: "OpenSansRegular";
	font-size: 1.5rem;
	line-height: 2.2rem;

	width: 405px;
	margin-top: 5px;
	margin-bottom: 22px;
	padding: 10px 25px 0 0; 

	letter-spacing: 0;

	color: #000;
}
#regform .regform__footer {
	overflow: hidden;
}
#regform .regform__btn .btn {
	font-family: "OpenSansBold";
	font-size: 1.7rem;
	line-height: 1em;

	float: left; 

	padding: 15px 30px;

	letter-spacing: -.5px;
}
#regform .regform__confirm {
	font-size: 1.3rem;
	line-height: 1.5rem;

	float: left;

	padding-top: 1px; 
	padding-left: 20px;

	letter-spacing: 0;

	color: #778c98;
}
#regform .regform__confirm a {
	color: #06b;
}
#regform .regform__confirm a:hover {
	text-decoration: none;

	color: #f2401d;
}

.featherlight #succsesform {
	display: block;
}

#succsesform {
	display: none;
}
#succsesform .succsesform {
	width: 575px;

	text-align: center;
	letter-spacing: 0;
}
#succsesform .succsesform__title {
	font-family: "OpenSansLight";
	font-size: 4.2rem;
	line-height: 5rem;

	margin-top: 25px;
	margin-bottom: 25px;

	color: #000;
}
#succsesform .succsesform__success {
	font-family: "OpenSansBold";
	font-size: 2.2rem;
	line-height: 3.2rem;

	margin-bottom: 15px;

	color: #000;
}
#succsesform .succsesform__text {
	font-family: "OpenSansLight";
	font-size: 2.2rem;
	line-height: 3.2rem;

	margin-bottom: 35px;
}

.featherlight #callbackform {
	display: block;
}

#callbackform {
	display: none;
}
#callbackform .callbackform__title {
	font-family: "OpenSansLight";
	font-size: 2.5rem;
	line-height: 3.2rem;

	margin-bottom: 15px;

	letter-spacing: 0; 

	color: #000;
}
#callbackform .callbackform__item {
	margin-bottom: 20px;
}
#callbackform .callbackform__item:last-child {
	margin-bottom: 0;
}
#callbackform .callbackform__field {
	font-family: "OpenSansRegular"; 
	font-size: 1.5rem;

	overflow: hidden;

	width: 100%;
	height: 50px;
	padding: 0 15px;

	color: #000;
	color: #343536;
	border: 1px solid #d4dade;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	background: #fff;
}
#callbackform .callbackform__field:focus {
	border: 1px solid #047de2;
}
#callbackform .callbackform__field:focus:required:invalid {
	border: 1px solid #cb5a5a;
}
#callbackform .callbackform__submit {
	font-family: "OpenSansLight";
	font-size: 1.6rem; 

	height: 45px;
	padding: 5px 25px;

	color: #fff;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	background: #06b;
}
#callbackform .callbackform__submit:hover {
	background: #047de2;
}

/* index.scss (END) */

/* responsive.scss (START) */
/* Large Devices, Wide Screens */
/* Medium Devices, Laptops */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* responsive.scss (END) */

@charset "UTF-8";
/* static.scss (START) */
body,
html {
	font-family: "OpenSansRegular";

	min-width: 980px;
	max-width: 1920px; 

	color: #333;
	background: #fff;
}

/* Webkit disable scrollbar */
/* Colors */
/* Extends */
/* Default Sections */
.container {
	max-width: 1000px !important;
	padding-left: 52px;
}

.invalid {
	border: 2px solid #f2401d !important;
}

.message__error {
	font-family: Arial;
	font-size: 1.3rem;
	font-weight: bold;

	display: block;

	margin-top: 10px;
	margin-left: 100px; 

	letter-spacing: 0;

	color: #f2401d;
}

section {
	font-size: 1.4rem;
	line-height: 1.2em;

	letter-spacing: 0;
}

/* Default Slider */
.breadcrumbs__item {
	display: inline-block;
}
.breadcrumbs__item:after {
	margin: 0 2px 0 8px; 

	content: "»";
}
.breadcrumbs__item:last-child {
	color: #000;
}
.breadcrumbs__item:last-child a {
	text-decoration: none;
}
.breadcrumbs__item:last-child:after {
	content: "";
}

/* static.scss (END) */
