/* animates.scss */

@charset "UTF-8";
/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.3.4 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight {
		/* dimensions: spanning the background from edge to edge */
		position: fixed;
		z-index: 2147483647;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: none;
		/* styling */

		cursor: pointer;
		/* z-index needs to be >= elements on the site. */
		/* position: centering content */
		text-align: center;
		/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
		white-space: nowrap;

		background: #333;
		/* IE8 "hack" for nested featherlights */
		background: transparent;
	}
	/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
	.featherlight:last-of-type {
		background: rgba(7, 50, 95, .8);
	}
	.featherlight:before {
		display: inline-block;

		height: 100%;
		margin-right: -.25em; 
		/* position: trick to center content vertically */

		content: "";
		vertical-align: middle;
	}
	.featherlight .featherlight-content {
		/* make content container for positioned elements (close button) */
		position: relative;

		display: inline-block;
		/* dimensions: handling small or empty content */

		min-width: 270px;
		max-height: 95%;
		margin-right: 5%;
		/* dimensions: handling large content */
		margin-left: 5%;
		/* dimensions: cut off images */
		padding: 15px 15px 0;

		cursor: auto;
		/* position: centering vertical and horizontal */
		text-align: left;
		vertical-align: middle;
		/* reset white-space wrapping */
		white-space: normal; 

		border-bottom: 25px solid transparent;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		/* styling */
		background: #fff;
	}
	/* contains the content */
	.featherlight .featherlight-inner {
		/* make sure its visible */
		display: block !important;
	}
	.featherlight .featherlight-close-icon {
		font-family: Arial, sans-serif;
		font-size: 0;
		/* dimensions: 25px x 25px */
		line-height: 25px;
		/* position: centering vertical and horizontal */

		position: absolute;
		z-index: 9999;
		top: 2px;
		right: -50px;

		width: 25px;
		width: 36px;
		height: 36px;
		/* styling */

		cursor: pointer;
		-webkit-transition: .3s;
		        transition: .3s; 
		text-align: center;

		opacity: .7;
		color: #000;
		background: #fff;
		/* Set the background in case it overlaps the content */
		background: rgba(255, 255, 255, .3);
		background: url("../img/icon__close.png");
		background-repeat: no-repeat;
	}
	.featherlight .featherlight-close-icon:hover {
		opacity: 1;
	}
	.featherlight .featherlight-image {
		/* styling */
		width: 100%;
	}
	.featherlight-iframe .featherlight-content {
		padding: 0; 
		/* removed the border for image croping since iframe is edge to edge */

		border-bottom: 0;
	}
	.featherlight iframe {
		/* styling */
		border: none;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		max-height: 98%;
		margin-right: 10px;
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 10px;
		padding: 10px 10px 0;

		border-bottom: 10px solid transparent;
	}
}

/* maps.scss */
/* Gmap Style Disabler */
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"] {
	display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
	display: none;
}

.gmnoprint div {
	background: none !important;
}

/* scrollbar.scss */
.scroll-wrapper {
	position: relative; 

	overflow: hidden !important;

	padding: 0 !important;
}

.scroll-wrapper > .scroll-content {
	position: relative !important;
	top: 0;
	left: 0;

	overflow: scroll !important;

	-webkit-box-sizing: content-box !important;
	        box-sizing: content-box !important;
	width: auto !important; 
	max-width: none !important;
	height: auto;
	max-height: none;
	margin: 0;
	padding: 0;

	border: none !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
	width: 0; 
	height: 0;
}

.scroll-element {
	display: none;
}

.scroll-element,
.scroll-element div {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
	display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
	cursor: default;
}

.scroll-textarea {
	border: 1px solid #ccc;
	border-top-color: #999;
}

.scroll-textarea > .scroll-content {
	overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
	position: relative !important;
	top: 0;

	overflow: scroll !important;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100% !important; 
	max-width: none !important;
	height: 100% !important;
	max-height: none !important;
	margin: 0;
	padding: 2px;

	border: none !important;
	outline: none;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
	width: 0; 
	height: 0;
}

/* Scroll Theme */
.scrollbar > .scroll-element,
.scrollbar > .scroll-element div {
	position: absolute;
	z-index: 10; 

	margin: 0;
	padding: 0;

	border: none;
}

.scrollbar > .scroll-element div {
	top: 0;
	left: 0;

	display: block;

	width: 100%; 
	height: 100%;
}

.scrollbar > .scroll-element.scroll-x {
	bottom: 2px;
	left: 0;

	width: 100%; 
	height: 8px;
}

.scrollbar > .scroll-element.scroll-y {
	top: 7px;
	right: 5px; 

	width: 8px;
	height: 98.5%;
}

.scrollbar > .scroll-element .scroll-element_outer {
	overflow: hidden;
}

.scrollbar > .scroll-element .scroll-element_outer,
.scrollbar > .scroll-element .scroll-element_track,
.scrollbar > .scroll-element .scroll-bar {
	-webkit-border-radius: 8px;
	        border-radius: 8px;
}

.scrollbar > .scroll-element .scroll-element_track,
.scrollbar > .scroll-element .scroll-bar {
	opacity: .4;
}

.scrollbar > .scroll-element .scroll-element_track {
	background-color: #e0e0e0;
}

.scrollbar > .scroll-element .scroll-bar {
	background-color: #c2c2c2;
}

.scrollbar > .scroll-element:hover .scroll-bar {
	background-color: #919191;
}

.scrollbar > .scroll-element.scroll-draggable .scroll-bar {
	background-color: #919191;
}

/* update scrollbar offset if both scrolls are visible */
.scrollbar > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
	left: -12px;
}

.scrollbar > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
	top: -12px;
}

.scrollbar > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
	left: -12px;
}

.scrollbar > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
	top: -12px;
}

@charset "UTF-8";
/* animates.scss */
/* Slick слайдер */
.slick-slider {
	position: relative;

	display: block;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	-ms-touch-action: pan-y;
	    touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;

	display: block;
	overflow: hidden;

	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
}
.slick-track:before,
.slick-track:after {
	display: table; 

	content: "";
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none; 
	float: left;

	height: 100%;
	min-height: 1px;
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;

	height: auto;

	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}
