/* index.scss (START) */

@import '../config';

h2 {
	margin: 0;
}

.btn {
	display: inline-block;

	&__empty {
		font-family: "OpenSansSemiBold";
		font-size: 1.5rem;

		&--calback {
			background: url("../img/callback__bg.png");
			background-repeat: no-repeat;
			padding: 15px 14px;
		}

		&--download {
			background: url("../img/download__bg.png");
			background-repeat: no-repeat;
			padding: 15px 15px;
			font-family: "OpenSansRegular";
			color: #fff;
			font-size: 1.8rem;
			line-height: 2.8rem;
			text-decoration: none;
			text-align: left;
			margin-left: 7px;

			&:before {
				content: url("../img/download__icon.png");
				float: left;
				margin-right: 12px;
				position: relative;
				animation-name: rotation;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
			}

			@keyframes rotation {

				0%, 20%, 50%, 80%, 100% {
					 transform: translateY(0);
				}

				40% {
					 transform:translateY(-5px);
				}

				60% {
					 transform: translateY(-2px);
				}
			}

			&:hover {
				color: #d8d8d8;
			}
		}
	}

	&__full {
		background: #f2401d;
		padding: 15px 14px;
		border-radius: 3px;
		text-decoration: none;

		&:hover {
			background: #ce3113;
		}

		&--blue {
			background: #0066bb;
			color: #fff;

			&:hover {
				background: #047de2;
			}
		}
	}
}

.rouble {
	font-family: "Roboto", sans-serif;
}

b {
	font-family: "OpenSansBold";
}

.header {

	padding: 25px 0;

	.logotype {

		&__link {
			float: left;
			padding-right: 25px;
			margin-top: 8px;
		}

		&__title {
			font-family: "OpenSansRegular";
			font-size: 1.7rem;
			line-height: 2.2rem;
			letter-spacing: -0.5px;
			border-left: 1px solid #e0e7eb;
			padding-left: 20px;
			overflow: hidden;
		}
	}

	.callback {
		display: inline-block;
		margin-left: 33px;
		&__link {
			color: #0066bb;
			text-decoration: none;
			display: block;

			&:hover {
				color: #f2401d;
			}
		}
	}

	.contacts {
		display: inline-block;
		margin-left: 30px;
		position: relative;
		top: -1px;

		&__phone {
			font-family: "OpenSansBold";
			font-size: 2.4rem;
			color: #000;
			text-decoration: none;
			display: block;
			margin-bottom: 5px;
			letter-spacing: 1px;
		}

		&__email {
			font-family: "OpenSansRegular";
			font-size: 1.6rem;
			color: #000;
			display: block;
			text-decoration: none;

			&:hover {
				color: #f2401d;
			}
		}
	}

}


.welcome {
	background: url("../img/welcome__bg.jpg");
	background-size: cover;
	background-repeat: none;
	padding: 40px 0;
	color: #fff;

	&__title {
		font-family: "OpenSansLight";
		font-size: 4.5rem;
		line-height: 5rem;
		letter-spacing: -1.5px;
		margin-bottom: 40px;
	}

	&__text {
		font-family: "OpenSansLight";
		font-size: 2.2rem;
		line-height: 3rem;
		letter-spacing: 0;
		margin-bottom: 40px;
	}

	.price {
		padding-top: 10px;

		&__item {
			margin-bottom: 25px;
		}

		&__list {
			font-family: "OpenSansRegular";
			font-size: 1.8rem;
			color: #fff;

			&_price {
				font-size: 2.2rem;
				color: #28c0ff
			}

			&_title {

			}

		}
	}

	&__form {
		margin-top: 10px;
		margin-left: 32px;

		.login {
			width: 380px;

			&__form {
				background: #fff;
				border-radius: 4px;
			}

			&__header {
				font-family: "OpenSansLight";
				font-size: 2.6rem;
				letter-spacing: 0;
				padding: 20px;
				color: #000;
			}

			&__content {
				background: #e9eff2;
				padding: 20px 15px 1px 25px;
				border-radius: 4px;
			}

			&__item {
				margin-bottom: 20px;
			}

			&__label {
				font-size: 1.6rem;
				width: 95px;
				color: #005082;
				float: left;
				line-height: 50px;
			}

			&__field {
				width: 235px;
				background: #fff;
				border-radius: 3px;
				overflow: hidden;
				height: 50px;
				color: #000;
				padding: 0 15px;
			}

			&__submit {
				background: #0066bb;
				color: #fff;
				border-radius: 3px;
				height: 45px;
				padding: 0 15px;
				font-family: "OpenSansLight";
				font-size: 1.6rem;

				&:hover {
					background: #047de2;
				}
			}

			&__remind {
				color: #3b4448;
				font-size: 1.4rem;
				text-decoration: none;
				margin-left: 27px;
			}

			&__btn {
				font-family: "OpenSansBold";
				font-size: 2rem;
				line-height: 1em;
				padding: 23px 60px 21px 60px;
				color: #fff;
				text-decoration: none;
				display: inline-block;
				border-radius: 4px;
				text-transform: uppercase;
				margin-bottom: 15px;
			}

			&__addition {
				margin-top: 25px;
				text-align: center;
			}

		}
	}

}

.weare {
	padding: 55px 0 75px 0;

	&__text {
		font-family: "OpenSansRegular";
		font-size: 1.8rem;
		line-height: 3rem;
		margin-top: 20px;
		color: #3a4b54;
		width: 85%;
		border-left: 1px solid #e0e7eb;
		position: relative;
		left: -10px;
    	padding-left: 40px;
		padding-top: 5px;
		padding-bottom: 5px;

		a {
			color: #0066bb;
			font-family: "OpenSansBold";

			&:hover {
				text-decoration: none;
				color: #ce3113;
			}
		}
	}
}

.garantie {
	padding: 50px 0;
	background: #d8dee1;

	.container {
		padding-left: 25px !important;
	}


	&__title {
		font-family: "OpenSansLight";
		color: #000;
		font-size: 4.2rem;
		line-height: 5rem;
		text-align: center;
	}

	&__slider {
		background: url("../img/garantie__image.jpg");
		background-repeat: no-repeat;
		background-position: 55% 50%;
		width: 100%;
		height: 500px;
		text-align: center;
		position: relative;

		&_image {
			opacity: 0;
 			position: absolute;
 			left: 0;
 			right: 0;
 			margin: auto;
 			top: 66px;
 			transition: 0.3s;

			&.active {
				opacity: 1;
			}
		}
	}

	&__image {
		display: inline-block;
		margin: 0 auto;
	}

	&-list {

		.s6 {

			&.active {
				.garantie-list__item {
					background: #f2401d;
					border: 2px solid #f2401d;
					color: #fff;

					.garantie-list__num {
						color: #fff;
					}
				}
			}
		}

		&__item {
			background: #fff;
			margin-bottom: 20px;
			border: 2px solid #fff;
			padding: 25px 30px 25px 20px;
			margin-right: 25px;
			border: 2px solid #cbd5da;
			transition: 0.3s;
			cursor: pointer;

			&:hover {
				border: 2px solid #f2401d
			}
		}

		&__num {
			font-family: "OpenSansLight";
			font-size: 4.2rem;
			line-height: 40px;
			float: left;
			color: #cbd5da;
			margin-right: 15px;
		}

		&__text {
			overflow: hidden;
			font-size: 1.8rem;
			line-height: 2.6rem;
		}
	}

}

.agents {
	background: url("../img/agents__bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0 10px 0;
	color: #fff;

	&__title {
		font-family: "OpenSansBold";
		color: #fff;
		font-size: 4.2rem;
		line-height: 5rem;
		letter-spacing: 0;
		text-align: center;
		margin-bottom: 50px;
	}

	&__list {
		@include clearfix();
		padding-left: 35px;
	}

	&__item {
		float: left;
		width: 50%;
		margin-bottom: 50px;
	}

	&__icon {
		float: left;
		margin-right: 20px;
		position: relative;
		top: -5px
	}

	&__text {
		font-family: "OpenSansRegular";
		font-size: 1.8rem;
		line-height: 2.6rem;
		width: 75%;
		overflow: hidden;
	}

}

.slick-list {
	margin: 0 55px !important;
}

.slick-arrow {

	@include absolute-center-y;
	z-index: 1000;
	border: 0;
	background-repeat: no-repeat;
	height: 30px;
	width: 34px;
	font-size: 0;
	transition: 0.3s;
	outline: 0;
}

.slick-prev {
	left: 15px;
	background: url("../img/icon__prev--hover.png");

	&:hover {
		background: url("../img/icon__prev.png");
	}
}

.slick-next {
	right: 15px;
	background: url("../img/icon__next--hover.png");

	&:hover {
		background: url("../img/icon__next.png");
	}

}

.feedback {
	padding: 40px 0 90px 0;
	background: #e9eff2;
	overflow: hidden;

	.container {
		padding-left: 0 !important;
	}

	&__title {
		font-family: "OpenSansLight";
		font-size: 4.2rem;
		line-height: 5rem;
		text-align: center;
		margin-bottom: 40px;
	}

	&__list {

		&-b {
			background: #fff;
			padding: 35px 35px;
			margin-right: 20px;
			margin-left: 20px;

			&__header {
				margin-bottom: 25px;
				min-height: 62px;
			}

			&__title {
				font-family: "OpenSansBold";
				font-size: 1.6rem;
				line-height: 1.8rem;
				color: #0b4a7d;
				margin-bottom: 10px;
			}

			&__cat {
				font-family: "OpenSansRegular";
				font-size: 1.4rem;
				color: #979da0;
				overflow: hidden;

				.hlt--blue {
					color: #0b4a7d;
				}
			}

			&__avatar {
				float: left;
				margin-right: 25px;
			}

			&__text {
				font-family: "OpenSansRegular";
				font-size: 1.6rem;
				line-height: 2.6rem;
				color: #000;

			}
		}

	}

	&__start {
		text-align: center;
		padding: 50px 0;
	}

	&__addition {
		font-family: "OpenSansLight";
		font-size: 3.2rem;
		line-height: 5rem;
		margin-bottom: 15px;

	}

	&__btn {
		font-family: "OpenSansBold";
		font-size: 2.2rem;
		line-height: 1em;
		color: #fff;
		padding: 20px 65px;
		display: inline-block;
	}
}

.questions {
	padding: 35px 0 60px 0;
	background: #e9eff2;
	border-top: 4px solid #d8e1e8;

	.container {
		padding-left: 0 !important;
		width: 762px;
	}

	&__icon {
		position: absolute;
		top: -70px;
		left: 0;
		right: 0;
		margin: auto;
	}

	&__title {
		font-family: "OpenSansBold";
		font-size: 4.2rem;
		line-height: 5rem;
		text-align: center;
		margin-bottom: 25px;
		letter-spacing: -1px;
		color: #000;
	}

	&__addition {
		border: 3px solid #cddae0;
		padding: 25px 0px 25px 70px;
		overflow: hidden;
		margin-top: 45px;
		margin-bottom: 25px;

		&__title {
			font-family: "OpenSansRegular";
			font-size: 3.2rem;
			line-height: 3.4rem;
			color: #000;
			float: left;
		}

		&__content {
			border-left: 1px solid #cddae0;
			padding-left: 50px;
			margin-left: 65px;
			padding-top: 15px;
    		padding-bottom: 10px;
			float: left;
		}

		&__phone {
			font-family: "OpenSansBold";
			font-size: 3.2rem;
			color: #185698;
		}

		&__text {
			color: #7a7e81;
			font-size: 1.6rem;
			margin-top: 20px;
		}

	}

	.accordion {
		@include clearfix;

		.active {
			transition: 0.3s;

			.accordion__title {
				&:after {
					content: url('../img/icons/icon__arrow--down--blue.png');
					transition: 0.3s;
				}
			}

		}

		&__title {
			color: #000;
			font-size: 1.8rem;
			font-family: "OpenSansRegular";
			line-height: 1em;
			text-decoration: none;
			display: block;
			position: relative;
			padding: 16px 85px 15px 5px;
			line-height: 2.3rem;
			transition: 0.7s;

			&:after {
				@include absolute-center-y;
				content: url('../img/icons/icon__arrow--down--gray.png');
				right: 30px;
			}

			&:hover {
				&:after {
					content: url('../img/icons/icon__arrow--down--blue.png');
				}
			}

		}

		&__item {
			margin-bottom: 12px;
			background: #fff;
    		box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
    		transition: 0.3s;

    		&:hover {
    			box-shadow: 0 0 7px 0 rgba(57, 90, 129, .6);
    		}
		}

		&__num {
			width: 64px;
			float: left;
			text-align: center;
			font-family: "OpenSansLight";
			font-size: 2.8rem;
			color: #b9babd;
		}

		dt, dd {}
		dt {}

		dd {
			margin: 0;
			padding: 10px 80px 20px 70px;
			font-size: 1.6rem;
			font-family: "OpenSansRegular";
			line-height: 2.4rem;

			p {
				margin-bottom: 15px;
			}

			ul {
				padding-bottom: 15px;
				list-style-image: url('../img/icons/list__item.png');
				list-style-position: outside;
				display: block;
				margin-left: 18px;
			}

			li {
				padding-left: 15px;
			}
		}

		p {
			overflow: hidden;
			margin: 0;
		}
	}

}

.footer {
	padding: 40px 0;
	font-size: 1.6rem;

	.copyrights {

		&__name {
			font-family: "OpenSansBold";
			color: #000;
			margin-bottom: 10px;
		}

		&__title {
			font-family: "OpenSansRegular";
			margin-bottom: 15px;
			margin-left: 17px;
		}

		&__link {
			font-family: "OpenSansBold";
			color: #0066bb;
			margin-left: 17px;
			text-decoration: none;

			&:hover {
				color: #f2401d;
			}
		}
	}

	.service {
		text-align: center;
		border: 2px solid #e1e8ec;
		width: 80%;
		margin: 0 auto;

		&__title {
			font-family: "OpenSansBold";
			font-size: 1.6rem;
			color: #9eacb3;
			background: #fff;
			position: relative;
			top: -12px;
			display: inline-block;
			padding: 0 25px;
		}

		&__text {
			font-family: "OpenSansBold";
			margin-top: 15px;
			margin-bottom: 30px;
			color: #000;
			text-decoration: none;
			display: block;
			font-size: 1.8rem;
		}
	}

	.contacts {
		display: inline-block;

		&__phone {
			font-family: "OpenSansBold";
			font-size: 2.4rem;
			color: #000;
			text-decoration: none;
			display: block;
		}
	}

	.callback {
		display: inline-block;
		margin-top: 15px;
		margin-right: 25px;

		&__link {
			color: #0066bb;
			text-decoration: none;
			display: block;

			&:hover {
				color: #f2401d;
			}
		}
	}

	&__wrap {
		text-align: right;
		padding-right: 70px;
	}

}

/* popups */

.featherlight {
	#regform {
		display: block;
	}

}

#regform {

	display: none;

	.regform {

		&__header {
			text-align: center;
			padding-top: 5px;
		}

		&__title {
			font-family: "OpenSansLight";
			font-size: 3.2rem;
			line-height: 5rem;
			margin-top: 0px;
   			margin-bottom: 17px;
			color: #000;
		}

		&__tabs {
			display: inline-block;
			margin-bottom: 10px;
			margin: 0 auto;
		}

		&__tab {
			border: 2px solid #e4e9eb;
			border-radius: 4px;
			display: inline-block;
			font-family: "OpenSansRegular";
			font-size: 1.4rem;
			padding: 10px 15px;
			color: #6e8598;
			transition: 0.3s;
			cursor: pointer;
			letter-spacing: 0;

			&:last-child {
				margin-left: -4px;
				border-radius: 0 4px 4px 0;
				border-left: 2px solid transparent;
			}

			&:first-child {
				border-radius: 4px 0 0 4px;
			}

			&.active,
			&:hover {
				border: 2px solid #0066bb;
				background: #0066bb;
				color: #fff;
				z-index: 100;
			}

		}

		&__content {
			padding: 15px 25px 5px 25px;
			display: none;
			transition: 0.3s;

			&.active {
				display: block;
			}
		}

		&__label {
			font-size: 1.6rem;
			letter-spacing: -0.5px;
			width: 100px;
			color: #005082;
			float: left;
			line-height: 50px;
		}

		&__field {
			width: 335px;
			background: #fff;
			border-radius: 3px;
			overflow: hidden;
			height: 45px;
			color: #343536;
			padding: 0 15px;
			border: 1px solid #d4dade;
			font-size: 1.5rem;
			font-family: "OpenSansRegular";

			&:focus {
				border: 1px solid #0066bb;
			}
		}

		&__item {
			margin-bottom: 10px;
		}

		&__submit {
			background: #0066bb;
			color: #fff;
			border-radius: 3px;
			height: 45px;
			padding: 0 15px;
			font-family: "OpenSansLight";
			font-size: 1.6rem;

			&:hover {
				background: #0059a3;
			}
		}

		&__addition {
			margin-top: 5px;
			margin-bottom: 22px;
			font-family: "OpenSansRegular";
			font-size: 1.5rem;
			line-height: 2.2rem;
			color: #000;
			width: 405px;
			letter-spacing: 0;
			padding: 10px 25px 0 0;
		}

		&__footer {
			// margin-top: 25px;
			// padding: 10px 25px 0 0px;
			overflow: hidden;
		}

		&__btn {
			.btn {
				font-family: "OpenSansBold";
				font-size: 1.7rem;
				letter-spacing: -0.5px;
				line-height: 1em;
				padding: 15px 30px;
				float: left;
			}
		}

		&__confirm {
    		font-size: 1.3rem;
		    line-height: 1.5rem;
		    letter-spacing: 0;
		    padding-left: 20px;
		    float: left;
		    color: #778c98;
		    padding-top: 1px;

    		a {
    			color: #0066bb;

    			&:hover {
    				text-decoration: none;
    				color: #f2401d;
    			}

    		}
		}
	}
}

.featherlight {
	#succsesform {
		display: block;
	}
}

#succsesform {
	display: none;

	.succsesform {
		width: 575px;
		text-align: center;
		letter-spacing: 0;

		&__title {
			font-family: "OpenSansLight";
			font-size: 4.2rem;
			line-height: 5rem;
			margin-bottom: 25px;
    		margin-top: 25px;
			color: #000;
		}

		&__success {
			font-family: "OpenSansBold";
			font-size: 2.2rem;
			line-height: 3.2rem;
			margin-bottom: 15px;
			color: #000;
		}

		&__text {
			font-family: "OpenSansLight";
			font-size: 2.2rem;
			line-height: 3.2rem;
			margin-bottom: 35px;
		}
	}
}

.featherlight {
	#callbackform {
		display: block;
	}
}

#callbackform {
	display: none;

	.callbackform {

		&__title {
			font-family: "OpenSansLight";
			font-size: 2.5rem;
			line-height: 3.2rem;
    		margin-bottom: 15px;
			color: #000;
			letter-spacing: 0;
		}

			&__item {
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

			}

			&__field {
				width: 100%;
				background: #fff;
				border-radius: 3px;
				overflow: hidden;
				height: 50px;
				color: #000;
				padding: 0 15px;
				border: 1px solid #d4dade;
				color: #343536;
				font-size: 1.5rem;
				font-family: "OpenSansRegular";

				&:focus {
					border: 1px solid #047de2;
					&:required:invalid {
						border: 1px solid #cb5a5a;
					}
				}
			}

			&__submit {
				background: #0066bb;
				color: #fff;
				border-radius: 3px;
				height: 45px;
				padding: 5px 25px;
				font-family: "OpenSansLight";
				font-size: 1.6rem;

				&:hover {
					background: #047de2;
				}
			}

	}
}
/* index.scss (END) */