/* responsive.scss (START) */

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1920px) {

}

/* Medium Devices, Laptops */

@media only screen and (max-width : 1360px) {

}

/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {

}

/* responsive.scss (END) */