/* static.scss (START) */

@import '../config';

body, html {
 	font-family: "OpenSansRegular";
	background: #fff;
	color: #333;
	min-width: 980px;
	max-width: 1920px;
}

/* Webkit disable scrollbar */

// html::-webkit-scrollbar {width: 0 !important;}

/* Colors */

/* Extends */

.btn {

}

/* Default Sections */

.container {
	max-width: 1000px !important;
    padding-left: 52px;
}

.invalid {
	border: 2px solid #f2401d !important;
}

.message {

	&__error {
		font-family: Arial;
	    font-size: 1.3rem;
	    letter-spacing: 0;
	    font-weight: bold;
	    color: #f2401d;
	    display: block;
	    margin-top: 10px;
	    margin-left: 100px;
	}
}

section {

	font-size: 1.4rem;
	line-height: 1.2em;
	letter-spacing: 0;

	.section__title {

	}

	.section__content {

	}

	.section__addition {

	}

	.section__text {

	}
}


/* Default Slider */

.breadcrumbs {

	&__list {

	}

	&__item {
		display: inline-block;

		&:after {
			content: "»";
			margin: 0 2px 0 8px;
		}

		&:last-child {
			color: #000;

			a {
				text-decoration: none;
			}

			&:after {
				content: "";
			}

		}
	}
}

/* static.scss (END) */