// variables.scss

$base-size: 10;
$base-line-height: 14;

$sans: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier', monospace;

$t: .3s;

$gray: #6e6e6e;
$gray-light: #e2e2e2;

$gutter-text: 20px;
$gutter-block: 40px;
$gutter-section: 60px;

$z-top: 1000;
$z-middle: 100;
$z-bottom:0;
$z-hell: -1000;

// mixins.scss

// position.scss

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin absolute-center-pos($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  margin: auto;
}

@mixin absolute-center-xy {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@mixin absolute-center-y {
	margin: auto;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

@mixin absolute-center-x {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate( -50%, 0);
}

@mixin round($diam) {
	display: inline-block;
  height: $diam;
  width: $diam;
  width: $line-height;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

@mixin opacity-h {
	opacity: 0.7;
	transition: $t;

	&:hover {
		opacity: 1;
	}
}

@mixin scroll-disable {
	overflow-x: hidden;
	overflow-y: hidden;

	-ms-overflow-style: none;
}

@mixin animated-bg-h($color1,	$color2) {
  background-image: linear-gradient($color1, $color2);
  background-size: auto 200%;
  background-position: 0 100%;
  transition: background-position 0.5s;

  &:hover {
   background-position: 0 0;
 }
}

@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == 'vertical' {
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

// functions.scss

//  Convert pixel values to ems

@function em($target, $context: $base-font-size) {
  @if not unitless($target) {
    $target: strip-units($target);
  }
  @if not unitless($context) {
    $context: strip-units($context);
  }
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}

// Convert pixel values to rems

@function rem($target, $context: $base-font-size) {
  @if not unitless($target) {
    $target: strip-units($target);
  }
  @if not unitless($context) {
    $context: strip-units($context);
  }
  @if $target == 0 { @return 0 }
  @if $target == 0 { @return 0 }
  @return $target / $context + 0rem;
}