//- config.jade

//- Head

- var metaViewport         = true

- var metaDescription      = "Naviport. Личный кабинет агента"
- var metaAuthor           = "Naviport. Личный кабинет агента"
- var metaEmail            = "info@naviport.ru"
- var metaUrl              = "naviport.ru"
- var metaKeywords         = ""

//- Page

- var pagetitle 		= "Default title form сonfig.jade"

- var alt               = "alt"
- var title             = "title"

//- Templates

- var headerA 			= true
- var headerB 			= false

//- Scripts

- var jquery 			= true
- var slick 			= false
- var featherlight 		= false
- var smoothscroll 		= true
- var equalheight  		= false
- var lazyload  		= false
- var tabs 				= false
- var mask 				= false
- var masonry			= false
- var scrollbar 		= false
- var countup 		    = false